* {
    box-sizing: border-box;
}

:root {

    --background-img-sidebar: url() --background-img-color: rgba(0, 0, 0, 0.4; ) --background-img-color
}

body {
    margin: 0;
    font-family: sans-serif "Roboto";
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100vh;
    width: 100vw;
    font-size: 1rem
}

.sidebar {
    background-image: var(--background-img-sidebar);
    background-color: var(--background-img-color) width: 260px;

    background-blend-mode: color;
    background-size: cover;
    background-image: url(./assets/images/card-1.jpeg);
}